<!-- overrides/main.html -->
    {% extends "base.html" %}

    {% block site_nav %}
<div class="md-sidebar md-sidebar--secondary" data-md-component="sidebar" data-md-type="toc">
    <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner">
            <nav class="md-nav md-nav--secondary">
                <label class="md-nav__title" for="__toc">
                    <span class="md-nav__icon md-icon"></span>
                    Содержание страницы
                </label>

                {{ super() }}
            </nav>
        </div>
    </div>
</div>
{% endblock %}
